.haiku {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(192, 192, 192, 0.6);
  padding: 3rem;
  border-radius: 0 120px 0 120px;
  box-shadow: 0 3px 10px black;
  transition: 0.5s ease-in-out;
  animation: fadeIn 1s;
  hr {
    width: 100%;
    margin-bottom: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-top: 0;
    box-shadow: 0 2px 4px black;
  }
  p {
    font-family: "Eagle Lake", cursive;
    color: white;
    font-size: 2rem;
    text-shadow: 0 3px 5px black;
    margin-bottom: 2rem;
  }
  .author-and-info {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    .author {
      font-size: 1.5rem;
      text-shadow: 0 2px 5px black;
      margin-bottom: 0;
    }
    .info-button {
      position: absolute;
      right: 0;
      color: rgba(255, 255, 255, 0.9);
      font-size: 1.5rem;
      text-shadow: 0 1px 4px black;
      transition: 0.3s ease-in-out;
      cursor: pointer;
      &:hover {
        color: #999999;
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
