@media screen and (max-width: 1440px) {
  .haiku {
    padding: 2rem;
    width: 550px;
    border-radius: 0 100px 0 100px;

    hr {
      margin-bottom: 1.5rem;
      box-shadow: 0 1px 4px black;
    }
    p {
      font-size: 1.25rem;
      text-shadow: 0 2px 4px black;
      margin-bottom: 1.5rem;
    }
    .author-and-info {
      .author {
        font-size: 1.25rem;
        text-shadow: 0 2px 4px black;
      }
      .info-button {
        font-size: 1.25rem;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .haiku {
    padding: 1.5rem;
    width: 450px;
    border-radius: 0 80px 0 80px;

    hr {
      width: 90%;
      margin-bottom: 1rem;
    }
    p {
      font-size: 1rem;
      text-shadow: 0 1px 4px black;
      margin-bottom: 1rem;
    }
    .author-and-info {
      .author {
        font-size: 1rem;
        text-shadow: 0 1px 4px black;
      }
      .info-button {
        font-size: 1rem;
      }
    }
  }
}

@media screen and (max-width: 540px) {
  .haiku {
    padding: 1rem;
    width: 380px;
    border-radius: 0 70px 0 70px;

    hr {
      width: 80%;
      margin-bottom: 0.75rem;
    }
    p {
      text-shadow: 0 1px 2px black;
      margin-bottom: 0.75rem;
    }
    .author-and-info {
      .author {
        text-shadow: 0 1px 2px black;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .haiku {
    width: 320px;
    border-radius: 0 60px 0 60px;
    hr {
      margin-bottom: 0.75rem;
    }
    p {
      font-size: 13px;
    }
    .author-and-info {
      .author {
        font-size: 13px;
      }
      .info-button {
        font-size: 13px;
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .haiku {
    border-radius: 0 0 0 0;
  }
}

@media screen and (max-width: 280px) {
  .haiku {
    width: 280px;
    p {
      font-size: 12px;
    }
    .author-and-info {
      .author {
        font-size: 12px;
      }
    }
  }
}

@media screen and (max-height: 375px) {
  .haiku {
    width: 380px;
    padding: 1rem;
    border-radius: 0 60px 0 60px;
    hr {
      width: 80%;
      margin-bottom: 0.75rem;
    }
    p {
      font-size: 14px;
      text-shadow: 0 1px 2px black;
      margin-bottom: 0.75rem;
    }
    .author-and-info {
      .author {
        font-size: 14px;
        text-shadow: 0 1px 2px black;
      }
      .info-button {
        font-size: 1rem;
      }
    }
  }
}
